body{
  font-family: arial, Helvetica, sans-serif;
  font-size:15px;
  line-height: 1.5;
  background-color: lightgrey;
  margin: 20px;
}
container h2{
  float:left;
}
.slogan{
  display: flex;
  align-items: flex-end;
  margin: 2px;
  height: 40px;
  font-family: Apple Chancery, cursive;
}

.container{
  width: 80%;
  margin:auto;
  overflow:hidden:
}

header{
  background:darkslategrey;
  color:white;
  padding-top:30px;
  min-height:70px;
  border-bottom:yellow 3px solid;
}

header a{
  color: white;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}
header ul{
  margin:0;
  padding:0;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
  border: .5px solid yellow;
  background: black;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:20px;
}
.mainPic{
  display: flex;
  justify-content: flex-end;
  margin:50px;
  padding: 2px;
  position: relative;bottom: 0px
}
.smallPic{
  display: flex;
  justify-content: flex-start;
  margin:2px;
  padding: 2px;
  position: relative;top: -600px
}

#bodyPic {
  /*min-height: 4px;*/
  height: 750px;
  align-items: center;
}
.pic1{
  margin-top:20px;
  float:left;
  width:30%;
  padding:10px;
  /*text-align:center;*/
}

.pic1 img{
  width:90px
}
.readMe{
  float:right;
  display: inline;
  padding: 10px;
  text-decoration: none;
  margin: 10px;
}
li{
  list-style-type: none;
}

footer{
  padding:1px;
  margin-top: 350px;
  color:white;
  background-color:darkslategrey;
  text-align:left;
  border-bottom:yellow 1px solid;
}
